:root {

  /* Material Colors*/
  --color-primary-50:            #e5f0f7;
  --color-primary-100:           #bfd9ea;
  --color-primary-200:           #94c0dc;
  --color-primary-300:           #69a6ce;
  --color-primary-400:           #4993c4;
  --color-primary-500:           #2980b9;
  --color-primary-600:           #2478b2;
  --color-primary-700:           #1f6daa;
  --color-primary-800:           #1963a2;
  --color-primary-900:           #0f5093;
  --color-primary-A100:          #c3deff;
  --color-primary-A200:          #90c3ff;
  --color-primary-A400:          #5da7ff;
  --color-primary-A700:          #4499ff;
  --color-primary-contrast-50:   #000000;
  --color-primary-contrast-100:  #000000;
  --color-primary-contrast-200:  #000000;
  --color-primary-contrast-300:  #000000;
  --color-primary-contrast-400:  #000000;
  --color-primary-contrast-500:  #ffffff;
  --color-primary-contrast-600:  #ffffff;
  --color-primary-contrast-700:  #ffffff;
  --color-primary-contrast-800:  #ffffff;
  --color-primary-contrast-900:  #ffffff;
  --color-primary-contrast-A100: #000000;
  --color-primary-contrast-A200: #000000;
  --color-primary-contrast-A400: #000000;
  --color-primary-contrast-A700: #000000;

  --color-accent-50:             #e6f9ee;
  --color-accent-100:            #c0f0d4;
  --color-accent-200:            #97e6b8;
  --color-accent-300:            #6ddb9c;
  --color-accent-400:            #4dd486;
  --color-accent-500:            #2ecc71;
  --color-accent-600:            #29c769;
  --color-accent-700:            #23c05e;
  --color-accent-800:            #1db954;
  --color-accent-900:            #12ad42;
  --color-accent-A100:           #deffe7;
  --color-accent-A200:           #abffc2;
  --color-accent-A400:           #78ff9c;
  --color-accent-A700:           #5eff8a;
  --color-accent-contrast-50:    #000000;
  --color-accent-contrast-100:   #000000;
  --color-accent-contrast-200:   #000000;
  --color-accent-contrast-300:   #000000;
  --color-accent-contrast-400:   #000000;
  --color-accent-contrast-500:   #000000;
  --color-accent-contrast-600:   #000000;
  --color-accent-contrast-700:   #000000;
  --color-accent-contrast-800:   #ffffff;
  --color-accent-contrast-900:   #ffffff;
  --color-accent-contrast-A100:  #000000;
  --color-accent-contrast-A200:  #000000;
  --color-accent-contrast-A400:  #000000;
  --color-accent-contrast-A700:  #000000;

  --color-success-50:            #e7f3e2;
  --color-success-100:           #c2e1b6;
  --color-success-200:           #99cd86;
  --color-success-300:           #70b856;
  --color-success-400:           #52a931;
  --color-success-500:           #339a0d;
  --color-success-600:           #2e920b;
  --color-success-700:           #278809;
  --color-success-800:           #207e07;
  --color-success-900:           #146c03;
  --color-success-A100:          #a6ff9c;
  --color-success-A200:          #79ff69;
  --color-success-A400:          #4bff36;
  --color-success-A700:          #34ff1c;
  --color-success-contrast-50:   #000000;
  --color-success-contrast-100:  #000000;
  --color-success-contrast-200:  #000000;
  --color-success-contrast-300:  #000000;
  --color-success-contrast-400:  #000000;
  --color-success-contrast-500:  #ffffff;
  --color-success-contrast-600:  #ffffff;
  --color-success-contrast-700:  #ffffff;
  --color-success-contrast-800:  #ffffff;
  --color-success-contrast-900:  #ffffff;
  --color-success-contrast-A100: #000000;
  --color-success-contrast-A200: #000000;
  --color-success-contrast-A400: #000000;
  --color-success-contrast-A700: #000000;

  --color-warn-50:               #ffeded;
  --color-warn-100:              #ffc4c1;
  --color-warn-200:              #ff9d98;
  --color-warn-300:              #ff766e;
  --color-warn-400:              #ff584f;
  --color-warn-500:              #ff3b30;
  --color-warn-600:              #ff352b;
  --color-warn-700:              #ff2d24;
  --color-warn-800:              #ff261e;
  --color-warn-900:              #ff1913;
  --color-warn-A100:             #ffffff;
  --color-warn-A200:             #fffafa;
  --color-warn-A400:             #ffc8c7;
  --color-warn-A700:             #ffafad;
  --color-warn-contrast-50:      #000000;
  --color-warn-contrast-100:     #000000;
  --color-warn-contrast-200:     #000000;
  --color-warn-contrast-300:     #000000;
  --color-warn-contrast-400:     #000000;
  --color-warn-contrast-500:     #ffffff;
  --color-warn-contrast-600:     #ffffff;
  --color-warn-contrast-700:     #ffffff;
  --color-warn-contrast-800:     #ffffff;
  --color-warn-contrast-900:     #ffffff;
  --color-warn-contrast-A100:    #000000;
  --color-warn-contrast-A200:    #000000;
  --color-warn-contrast-A400:    #000000;
  --color-warn-contrast-A700:    #000000;

  /* Custom Colors */
  --color-background: #fafdff;
  --color-border: #e5e7eb;
  --color-box-shadow: #00000026;
  --color-light: #ebebeb;
  --color-lighter: #f2f2f2;
  --color-lightest: #f9f9f9;
  --color-gray: #979797;
  --color-black: #0e1111;

  --mat-toolbar-height: 4rem;
  --gap: 1.5rem;
  --logo-height: 4rem;
  --shape: .5rem;
}