main {
  padding-top: calc(var(--mat-toolbar-height) + 4rem);

  min-height: calc(100vh - var(--mat-toolbar-height));

  width: 90rem;
  max-width: calc(100% - 2rem);
  margin: auto auto 5rem auto;
}
