<h1>Artikel anlegen</h1>

<common-form-stepper (cancelled)="cancelled()" (saved)="saved()">
  <common-form-step title="Inhalt" [formGroup]="contentForm">
    <common-input
      formControlName="title"
      label="Titel">
    </common-input>

    <common-richtext-editor formControlName="body">
    </common-richtext-editor>
  </common-form-step>

  <common-form-step title="Weitere Daten" [formGroup]="metadataForm">
    <common-input
      formControlName="description"
      label="Beschreibung">
    </common-input>

    <common-tag-input
      formControlName="tagList">
    </common-tag-input>
  </common-form-step>

</common-form-stepper>
